<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRICKET-HUB</title>
    <link rel="stylesheet" href="/css/show.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />



</head>

<body>
    <div id="main">
        <div id="page1">
            <nav>
                <h1>🏏LEGEND-HUB</h1>
                <a href="/players">cricketers</a><a href="/blogs">Blog</a><a href="#">contact</a>
            </nav>
            <div id="pg1-hero">
                <div id="pg1-main-card">
                    <div id="pg1-m-crd-left">
                        <img src="<%=allPlayers.imageUrl%>" alt="">

                    </div>
                    <div id="pg1-m-crd-right">
                        <div id="pg1-m-crd-rgt-top">
                            <div id="card-tgt-top-left">

                                <h2>Name: <span>
                                        <%=allPlayers.name%>
                                    </span></h2>
                                <h2>Country: <span>
                                        <%=allPlayers.country%>
                                    </span></h2>
                                <h2>jersey Number: <span>
                                        <%=allPlayers.jerseyNumber%>
                                    </span></h2>
                                <h2>City: <span>
                                        <%=allPlayers.location.city%>
                                    </span></h2>
                            </div>
                            <div id="card-tgt-top-right">
                       
                                <h2>Matches: <span>
                                        <%=allPlayers.careerStats.matches%>
                                    </span></h2>

                                <h2>Runs: <span>
                                        <%=allPlayers.careerStats.runs%>
                                    </span></h2>
                                <h2>Wickets: <span>
                                        <%=allPlayers.careerStats.wickets%>
                                    </span></h2>
                                <h2>Centuris: <span>
                                        <%=allPlayers.careerStats.centuries%>
                                    </span></h2>
                                <h2>Half centuris: <span>
                                        <%=allPlayers.careerStats.matches%>
                                    </span></h2>

                            </div>

                        </div>
                        <div id="pg1-m-crd-rgt-btm">
                            <div id="card-tgt-btm-left">
                               
                             
                       
                                        <h3>
                                <i class="ri-award-fill"></i>
                                <%=allPlayers.notableAchievements[0]%>
                                        </h3>
                                 
                                 
                                        <h3>
                                <i class="ri-award-fill"></i>
                                <%=allPlayers.notableAchievements[1]%>
                                        </h3>
                                  
                                   
                                        <h3>
                                <i class="ri-award-fill"></i>
                                <%=allPlayers.notableAchievements[2]%>
                                        </h3>
                                   
                               
                            </div>
                            <!-- <div id="card-tgt-btm-right"></div> -->

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div style="width: 100%; height: 50%; " id="player-map"></div>
    </div>
    <!-- <script src="/js/map.js"></script> -->
</body>

</html>
